<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Backbone Routing</title>
  <link type="text/css" rel="stylesheet" href="/front-end/css/style.css"/>
</head>
<body>
  <div id="container">
    <div id="summoner-input">
      <select class="region" name="region">
        <option value="euw1">Europe West</option>
        <option value="ru">Russia</option>
        <option value="kr">Korea</option>
        <option value="br1">Brazil</option>
        <option value="oc1">Oceania</option>
        <option value="jp1">Japan</option>
        <option value="na1">North America</option>
        <option value="eun1">Europe Nordic & East</option>
        <option value="tr1">Turkey</option>
        <option value="la1">LAN</option>
        <option value="la2">LAS</option>
      </select>
      <input class='typed-summoner' type="text" name="summoner" placeholder="Try: NoDayMercy, Goldsmoker">
      <input class='search-summoner' type="button" name="search-summoner" value="Search">
    </div>
    <div id="summoner">
      <span class="start-message">Search for a summoner</span>
      <script id="template-error" type="text/template">
        <span class="error"><%= message %></span>
      </script>
      <script id="template-summoner" type="text/template">
        <% _.each(summoner, function(summoner){ %>
          <div class="summoner">
            <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/profileicon/<%= summoner.get('profileIconId') %>.png" alt="Summoner icon">
            <div>
              <h1><%= summoner.get('name') %></h1>
              <p>
                Level: <%= summoner.get('summonerLevel') %></br>
                Last updated: <%= new Date(summoner.get('revisionDate')).toLocaleString('nl-NL') %>
              </p>
            </div>
          </div>

          <p>
            accountId:<%= summoner.get('accountId') %></br>
            id:<%= summoner.get('id') %></br>
          </p>
          <% }); %>
        </script>
      </div>
      <div id="match-details">
        <script id="template-error" type="text/template">
          <span class="error"><%= message %></span>
        </script>
        <script id="template-match-details" type="text/template">
          <% _.each(matchdetails, function(details){ console.log(details); %>
            <div class="match-detail">
              <h1><%= details.get('gameMode') %></h1>
              <p>
                <%= (Math.floor(details.get('gameDuration')/60)) %>:<%= ((details.get('gameDuration')) - (Math.floor(details.get('gameDuration')/60)*60)) %></br>
              </p>
              <table>
                <tr>
                  <th>Team 1</th>
                  <th>Team 2</th>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          <% }); %>
        </script>
      </div>
      <div id="matches">
        <!-- <span class="start-message">Search for a summoner</span> -->
        <script id="template-error" type="text/template">
          <span class="error"><%= message %></span>
        </script>
        <script id="template-matches" type="text/template">
          <% _.each(matches, function(match){ %>
            <div class="match" data-gameid="<%= match['gameId'] %>">
              <!-- <h1><%= match['lane'] %></h1> -->
              <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/<%= match['champion']['key'] %>.png">
              <p>
                Lane: <%= match['lane'] %></br>
                Role: <%= match['role'] %></br>
                Champion: <%= match['champion']['name'] %></br>
                Season:<%= match['season'] %></br>
                Timestamp:<%= new Date(match['timestamp']).toLocaleString('nl-NL') %></br>
                gameId:<%= match['gameId'] %></br>
                Queue:<%= match['queue'] %>
              </p>
            </div>
          <% }); %>
        </script>
      </div>
    </div>
    <script src="/front-end/dist/bundle.js" type="text/javascript"></script>
  </body>
  </html>
