<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Backbone Routing</title>
  <link type="text/css" rel="stylesheet" href="/front-end/css/style.css"/>
</head>
<body>
  <div id="container">
    <div id="summoner-input">
      <select class="region" name="region">
        <option value="euw1">Europe West</option>
        <option value="ru">Russia</option>
        <option value="kr">Korea</option>
        <option value="br1">Brazil</option>
        <option value="oc1">Oceania</option>
        <option value="jp1">Japan</option>
        <option value="na1">North America</option>
        <option value="eun1">Europe Nordic & East</option>
        <option value="tr1">Turkey</option>
        <option value="la1">LAN</option>
        <option value="la2">LAS</option>
      </select>
      <input class='typed-summoner' type="text" name="summoner" placeholder="NoDayMercy, Goldsmoker">
      <input class='search-summoner' type="button" name="search-summoner" value="Search">
    </div>
    <div id="summoner">
      <span class="start-message">Search for a summoner</span>
      <script id="template-error" type="text/template">
        <span class="error"><%= message %></span>
      </script>
      <script id="template-summoner" type="text/template">
        <% _.each(summoner, function(summoner){ %>
          <div class="summoner">
            <img src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/profileicon/<%= summoner.get('profileIconId') %>.png" alt="Summoner icon">
            <h1><%= summoner.get('name') %></h1>
            <p>
              Level: <%= summoner.get('summonerLevel') %></br>
              Last updated: <%= new Date(summoner.get('revisionDate')).toLocaleString('nl-NL') %>
            </p>
          </div>

          <p>
            accountId:<%= summoner.get('accountId') %></br>
            id:<%= summoner.get('id') %></br>
            name:<%= summoner.get('name') %></br>
            profileIconId:<%= summoner.get('profileIconId') %></br>
            revisionDate:<%= new Date(summoner.get('revisionDate')).toLocaleString('nl-NL') %></br>
            summonerLevel:<%= summoner.get('summonerLevel') %></br>
          </p>
          <% }); %>
        </script>
      </div>
      <div id="matches">
        <span class="start-message">Search for a summoner</span>
        <script id="template-error" type="text/template">
          <span class="error"><%= message %></span>
        </script>
        <script id="template-matches" type="text/template">
          <% _.each(matches, function(match){ %>
            <div class="summoner">
              <h1><%= match['queue'] %></h1>
              <p>
                Lane: <%= match['lane'] %></br>
                Champion: <%= match['champion'] %>
              </p>
              <p>
                matchId:<%= match['matchId'] %></br>
                platformId:<%= match['platformId'] %></br>
                queue:<%= match['queue'] %></br>
                region:<%= match['region'] %></br>
                role:<%= match['role'] %></br>
                season:<%= match['season'] %></br>
                timestamp:<%= new Date(match['timestamp']).toLocaleString('nl-NL') %>
              </p>
            </div>
          <% }); %>
        </script>
      </div>
    </div>
    <script src="/front-end/dist/bundle.js" type="text/javascript"></script>
  </body>
  </html>
